html,
body {

    height: 100%;
    margin: 0;
    padding: px;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    /*background: linear-gradient(to bottom, rgb(153, 151, 151), rgb(55, 54, 54));*/

}



.navbar {

    background-color: #fff;
    border-bottom: 1px solid #ccc;

    position: relative;
    z-index: 1;
}

.nav-list {

    list-style: none;
    margin: 0;
    padding: 10px;

    display: flex;
    justify-content: space-between;

    align-items: center;
    position: relative;
    z-index: 10;
}

.nav-list>li {

    position: relative;
}

.nav-list a {

    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #686666;
    font-size: 16px;
    font-weight: bold;
}


.nav-list a:hover {

    background-color: rgba(101, 99, 99, 0.4);
    border-radius: 8px;
}



.dropdown-content {
    display: none;

    position: absolute;
    top: 100%;

    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    min-width: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
    list-style: none;
    overflow: hidden;
    padding: 0;
}

.dropdown-content li a {
    padding: 12px 16px;
}

.dropdown-content a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a:hover {
    background-color: #9b9a9a;
}






* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30.25em;
    width: 30.25em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}



.face {
    align-items: center;


    height: 7.5em;
    width: 15em;
    bottom: 8.18em;
    left: -3.62em;
    border-radius: 3.75em;

    &:before {
        position: absolute;
        content: "";
        height: 3.75em;
        width: 5em;
        background-color: white;
        border-radius: 1.87em;
        left: 1.87em;
        top: 1.56em;
        box-shadow: 6.25em 0 white;
    }
}

.eyes {
    display: flex;
    height: 50px;
}

.pupils {

    position: absolute;
    top: 3.48em;
    left: 4.36em;
    transform: translate(-50%, -50%);
    height: 2.5em;
    width: 1.56em;
    border-radius: 0.93em;
    box-shadow: 6.25em 0 #000;
    background-color: #000;
    border-radius: 50%;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30.25em;
    width: 30.25em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 60%;
    top: 70%;
}



.face1 {
    align-items: center;


    height: 7.5em;
    width: 15em;
    bottom: 8.18em;
    left: -3.62em;
    border-radius: 3.75em;

    &:before {
        position: absolute;
        content: "";
        height: 3.75em;
        width: 5em;
        background-color: white;
        border-radius: 1.87em;
        left: 1.87em;
        top: 1.56em;
        box-shadow: 6.25em 0 white;
    }
}

.eyes1 {
    display: flex;
    height: 50px;
}

.pupils1 {

    position: absolute;
    top: 3.48em;
    left: 4.36em;
    transform: translate(-50%, -50%);
    height: 2.5em;
    width: 1.56em;
    border-radius: 0.93em;
    box-shadow: 6.25em 0 #000;
    background-color: #000;
    border-radius: 50%;
}



@media screen and (min-width: 600px) {
    .container {
        font-size: 1.2em;
    }
}