html,
body {

    height: 100%;
    margin: 0;
    padding: px;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    /*background: linear-gradient(to bottom, rgb(153, 151, 151), rgb(55, 54, 54));*/

}



.navbar {

    background-color: #fff;
    border-bottom: 1px solid #ccc;

    position: relative;
    z-index: 1;
}

.nav-list {

    list-style: none;
    margin: 0;
    padding: 10px;

    display: flex;
    justify-content: space-between;

    align-items: center;
    position: relative;
    z-index: 10;
}

.nav-list>li {

    position: relative;
}

.nav-list a {

    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #686666;
    font-size: 16px;
    font-weight: bold;
}


.nav-list a:hover {

    background-color: rgba(101, 99, 99, 0.4);
    border-radius: 8px;
}



.dropdown-content {
    display: none;

    position: absolute;
    top: 100%;

    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    min-width: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
    list-style: none;
    overflow: hidden;
    padding: 0;
}

.dropdown-content li a {
    padding: 12px 16px;
}

.dropdown-content a {
    display: block;
    width: 100%;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a:hover {
    background-color: #9b9a9a;
}



.aurora-container {

    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background: #020617;

    color: white;
}


.aurora-container::before {

    content: "";
    position: absolute;
    inset: -20%;


    background:
        radial-gradient(circle at 0% 0%, rgba(96, 165, 250, 0.6), transparent 55%),
        radial-gradient(circle at 100% 0%, rgba(244, 114, 182, 0.6), transparent 55%),
        radial-gradient(circle at 0% 100%, rgba(52, 211, 153, 0.6), transparent 55%),
        radial-gradient(circle at 100% 100%, rgba(129, 140, 248, 0.6), transparent 55%);

    filter: blur(80px);
    opacity: 0.8;
    animation: auroraMove 24s linear infinite;
    pointer-events: none;

}


@keyframes auroraMove {

    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(-10%, -5%, 0) scale(1.1);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}


main {

    position: relative;
    z-index: 1;
    padding: 40px 20px;
}