body {

    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(244, 223, 196);
    line-height: 1.65;
}

#wrapper {

    margin-top: 0px;
    float: right;
    width: 60%;
    margin-right: 50px;
}

header h1 {

    text-align: right;
    font-size: 25px;
    margin-bottom: 5px;
}

header h2 {

    margin-top: 0px;
    margin-bottom: 30px;
    text-align: right;
    font-size: 20px;
    color: rgb(74, 64, 49);
}

header h3 {

    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    color: rgb(74, 64, 49);
}

header img {

    margin-top: 50px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .10);
}


nav {

    float: left;
    width: 30%;
    margin-left: 50px;
    margin-top: 50px;
    line-height: 30px;
    position: fixed;
    z-index: 10;
}

nav a {

    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 20px;

}

nav a:hover {

    color: gray;
    font-size: larger;
    transform: scale(1.1) translateX(8px);
    transition: transform 0.2s, color 0.2s, font-size 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .10);
}

section {

    margin-bottom: 30px;
    text-align: justify;
}

article {
    background: #ecd2c2;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .10);
}

article p:last-child {

    margin-bottom: 80px;
}

article h3 {

    margin-bottom: 10px;
    color: rgb(74, 64, 49);
}

footer {

    text-align: right;
    font-size: 12px;
    font-weight: lighter;
    font-style: italic;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 12px;
}

footer a {

    text-decoration: none;
    color: black;
}

.books {


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 20px;
    max-width: 100%;

}

.books img {

    display: block;
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 12px;
}

.books>div {

    text-align: center;
    padding: 10px;
}

.books figure {

    margin: 0;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, .10);
    background: #ecd2c2;
    padding: 10px;
}

article figure figcaption {

    margin-top: 5px;
    font-size: 12px;
    color: rgb(0, 0, 0);
}

table img {

    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
}

p {
    margin-bottom: 20px;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 480px) {

    nav {
        margin: 0 auto;
        margin-bottom: 50 px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        line-height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 40px solid #000;
        background: #c1ac9f;
        z-index: 1000;
        color: white;
        position: sticky;
        top: 0;
    }

    nav a {
        color: rgb(74, 64, 49);
    }

    h1 {
        margin-top: 50px;
    }

    #wrapper {
        margin-top: 50px;
        position: relative;
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    footer {
        margin-top: 40px;
        font-size: 12px;
    }

    .books {
        grid-template-columns: auto auto;
        gap: 16px;
    }

}